@font-face{
	font-family: Kalinga;
	src: url('../fonts/kalinga.ttf');
}
@font-face{
	font-family: Kalinga;
	font-weight: 700;
	src: url('../fonts/kalingab.ttf');
	
}
@font-face{
	font-family: glasket500;
	src: url('../fonts/glasket500.otf');
}
